/* 
 use adobe spectrum color paltte
 https://spectrum.adobe.com/page/color-palette/
 */
:root {
  --gray-50: #ffffff;
  --gray-75: #fdfdfd;
  --gray-100: #f8f8f8;
  --gray-200: #e6e6e6;
  --gray-300: #d5d5d5;
  --gray-400: #b1b1b1;
  --gray-500: #909090;
  --gray-600: #6d6d6d;
  --gray-700: #464646;
  --gray-800: #222222;
  --gray-900: #000000;

  --blue-100: #e0f2ff;
  --blue-200: #cae8ff;
  --blue-300: #b5deff;
  --blue-400: #96cefd;
  --blue-500: #78bbfa;
  --blue-600: #59a7f6;
  --blue-700: #3892f3;
  --blue-800: #147af3;
  --blue-900: #0265dc;
  --blue-1000: #0054b6;
  --blue-1100: #004491;
  --blue-1200: #003571;
  --blue-1300: #002754;

  --green-100: #cef8e0;
  --green-200: #adf4ce;
  --green-300: #89ecbc;
  --green-400: #67dea8;
  --green-500: #49cc93;
  --green-600: #2fb880;
  --green-700: #15a46e;
  --green-800: #008f5d;
  --green-900: #007a4d;
  --green-1000: #00653e;
  --green-1100: #005132;
  --green-1200: #053f27;
  --green-1300: #0a2e1d;

  --orange-100: #ffeccc;
  --orange-200: #ffdfad;
  --orange-300: #fdd291;
  --orange-400: #ffbb63;
  --orange-500: #ffa037;
  --orange-600: #f68511;
  --orange-700: #e46f00;
  --orange-800: #cb5d00;
  --orange-900: #b14c00;
  --orange-1000: #953d00;
  --orange-1100: #7a2f00;
  --orange-1200: #612300;
  --orange-1300: #491901;

  --red-100: #ffebe7;
  --red-200: #ffddd6;
  --red-300: #ffcdc3;
  --red-400: #ffb7a9;
  --red-500: #ff9b88;
  --red-600: #ff7c65;
  --red-700: #f75c46;
  --red-800: #ea3829;
  --red-900: #d31510;
  --red-1000: #b40000;
  --red-1100: #930000;
  --red-1200: #740000;
  --red-1300: #590000;
}

:root {
  /* background color */
  --bg-50: var(--gray-50);
  --bg-75: var(--gray-75);
  --bg-100: var(--gray-100);
  --bg-200: var(--gray-200);
  --bg-bule-100: var(--blue-300);
  --bg-blue-200: var(--blue-400);
  --bg-blue-300: var(--blue-500);
  --bg-blue-400: var(--blue-900);
  --bg-green-100: var(--green-300);
  --bg-green-200: var(--green-400);
  --bg-green-300: var(--green-500);
  --bg-green-400: var(--green-900);
  --bg-orange-100: var(--orange-300);
  --bg-orange-200: var(--orange-400);
  --bg-orange-300: var(--orange-500);
  --bg-orange-400: var(--orange-900);
  --bg-red-100: var(--red-300);
  --bg-red-200: var(--red-400);
  --bg-red-300: var(--red-500);
  --bg-red-400: var(--red-900);

  /* border color */
  --border-content-100: var(--gray-600);
  --border-content-200: var(--gray-700);
  --border-content-300: var(--gray-800);
  --border-field-100: var(--gray-400);
  --border-field-200: var(--gray-500);
  --border-field-300: var(--gray-600);
  --border-decorative-100: var(--gray-200);
  --border-decorative-200: var(--gray-300);
  --border-decorative-300: var(--gray-400);
  --border-blue-100: var(--blue-600);
  --border-blue-200: var(--blue-700);
  --border-blue-300: var(--blue-800);
  --border-green-100: var(--green-600);
  --border-green-200: var(--green-700);
  --border-green-300: var(--green-800);
  --border-orange-100: var(--orange-600);
  --border-orange-200: var(--orange-700);
  --border-orange-300: var(--orange-800);
  --border-red-100: var(--red-600);
  --border-red-200: var(--red-700);
  --border-red-300: var(--red-800);

  /* text color */
  --text-100: var(--gray-800);
  --text-200: var(--gray-900);
  --heading: var(--gray-900);
  --subdued-100: var(--gray-700);
  --subdued-200: var(--gray-800);
  --subdued-300: var(--gray-900);
  --disabled: var(--gray-500);
  --text-blue-100: var(--blue-900);
  --text-blue-200: var(--blue-1000);
  --text-blue-300: var(--blue-1100);
  --text-green-100: var(--green-900);
  --text-green-200: var(--green-1000);
  --text-green-300: var(--green-1100);
  --text-orange-100: var(--orange-900);
  --text-orange-200: var(--orange-1000);
  --text-orange-300: var(--orange-1100);
  --text-red-100: var(--red-900);
  --text-red-200: var(--red-1000);
  --text-red-300: var(--red-1100);

  /* decorative color */
  --decorative-blue-100: var(--blue-400);
  --decorative-blue-200: var(--blue-500);
  --decorative-blue-300: var(--blue-600);
  --decorative-green-100: var(--green-400);
  --decorative-green-200: var(--green-500);
  --decorative-green-300: var(--green-600);
  --decorative-orange-100: var(--orange-400);
  --decorative-orange-200: var(--orange-500);
  --decorative-orange-300: var(--orange-600);
  --decorative-red-100: var(--red-400);
  --decorative-red-200: var(--red-500);
  --decorative-red-300: var(--red-600);
}
