---
import { Icon } from "astro-icon/components";

import { siteList } from "../feed/list";
import { pub } from "../utils";
---

<<<<<<< HEAD
<header class="header">
  <h1 class="title">
    <a class="link" href={pub("")}>
      <img class="img" src={pub("favicon.svg")} alt="Reso-su" />
      Reso-su
    </a>
  </h1>
  <div>
    <a href="https://tenjo-t.github.io/reso-su/">
      <img class="github-img" src={pub("logo/github.svg")} alt="GitHub" />
    </a>
  </div>
  <div>
    <button class="global-nav-button open" popovertarget="nav-dialog">
      = Menu
    </button>
    <dialog
      id="nav-dialog"
      class="global-nav-dialog shadow"
      style="--shadow-color: var(--gray-800)"
      popover
    >
      <nav class="global-nav">
        <button class="global-nav-button close" popovertarget="nav-dialog">
          X Close
        </button>
        <ul>
          <li>
            <div class="nav-title">Feed</div>
            <ul>
              <li><a href={pub("")}>Home</a></li>
              <li><a href={pub("all")}>All</a></li>
              <li><a href={pub("weekly")}>Weekly</a></li>
            </ul>
          </li>
          <li>
            <div class="nav-title">Site</div>
            <ul>
              {
                siteList.map((site) => (
                  <li>
                    <a href={pub(`feed/${site.param}`)}>{site.title}</a>
                  </li>
                ))
              }
            </ul>
          </li>
        </ul>
      </nav>
    </dialog>
=======
<header class="border-b border-zinc-300">
  <div class="flex items-center justify-between mx-auto px-4 py-2 max-w-4xl">
    <h1 class="title">
      <a
        class="flex gap-1 items-center text-lg font-bold leading-none"
        href={pub("")}
      >
        <img class="w-4 h-4" src={pub("favicon.svg")} alt="Reso-su" />
        Reso-su
      </a>
    </h1>
    <div class="flex items-center gap-2">
      <a href="https://github.com/tenjo-t/reso-su">
        <img class="w-6" src={pub("logo/github.svg")} alt="GitHub" />
      </a>
      <button
        class="global-nav-button flex gap-1 items-center px-2 py-1 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 rounded transition-colors"
        popovertarget="nav-dialog"
      >
        <Icon name="lucide:align-left" />Menu
      </button>
      <dialog
        id="nav-dialog"
        class="global-nav-dialog m-0 px-6 py-4 border border-solid border-zinc-300 bg-zinc-50 rounded-md shadow-md"
        popover
      >
        <nav class="global-nav">
          <button
            class="flex gap-1 items-center ml-auto px-2 py-1 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 rounded transition-colors"
            popovertarget="nav-dialog"
            autofocus
          >
            <Icon name="lucide:x" />Close
          </button>
          <ul>
            <li>
              <div class="pt-4 font-bold text-lg">Feed</div>
              <ul class="pl-4">
                <li>
                  <a
                    class="underline hover:no-underline focus:no-underline"
                    href={pub("")}>Home</a
                  >
                </li>
                <li>
                  <a
                    class="underline hover:no-underline focus:no-underline"
                    href={pub("all")}>All</a
                  >
                </li>
                <li>
                  <a
                    class="underline hover:no-underline focus:no-underline"
                    href={pub("weekly")}>Weekly</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <div class="pt-4 font-bold text-lg">Site</div>
              <ul class="pl-4">
                {
                  siteList.map((site) => (
                    <li>
                      <a
                        class="underline hover:no-underline focus:no-underline"
                        href={pub(`feed/${site.param}`)}
                      >
                        {site.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </li>
          </ul>
        </nav>
      </dialog>
    </div>
>>>>>>> 6fe6654a98018eefc9f2b43f998b09c2c549bed9
  </div>
</header>

<style>
  .global-nav-button {
    anchor-name: --anchor;
  }

  .global-nav-dialog {
    position-anchor: --anchor;
    bottom: auto;
    left: auto;
    right: 16px; /* fallback */
    right: anchor(right);
    top: 8px; /* fallback */
    top: anchor(top);
  }
</style>
