---
import "../styles/base.css";

import Footer from "./footer.astro";
import Header from "./header.astro";

import { pub } from "../utils";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href={pub("favicon-48x48.png")}
      sizes="48x48"
    />
    <link rel="icon" type="image/svg+xml" href={pub("favicon.svg")} />
    <link rel="shortcut icon" href={pub("favicon.ico")} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={pub("apple-touch-icon.png")}
    />
    <meta name="apple-mobile-web-app-title" content="Reso-su" />
    <link rel="manifest" href={pub("site.webmanifest")} />
    <title>Reso-su</title>
  </head>
  <body class="bg-zinc-100 text-zinc-800">
    <Header />
    <div class="container py-8">
      <slot />
    </div>
    <Footer />
  </body>
</html>
