---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<section class:list={["pt-10 px-6 pb-24 sm:px-8", className]}>
  <div class="grid gap-12 mx-auto max-w-3xl">
    <slot />
  </div>
</section>

<style>
  .section {
    background-color: var(--bg);
  }
</style>
